
body {
    background-color: black;
}

.links {
    border-bottom: solid;
    border-width: 1px;
    border-color: beige;
    align-content: center;
}

.links a:hover {
    color: rgb(76, 193, 223)
}

table {
    width: 100%;
}

h1, h2, th {
    color: whitesmoke;
    text-align: center;
}

p {
    color: white;
    font-size: 20px;
}

.kitty div {
    float: left;
    margin-left: 20px;
    width: 45%;
}

#current {
    color: rgb(189, 179, 44);
}

#desc {
    float: center;
    text-align: center;
}

.outer {
    display: table;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

.middle {
    display: table-cell;
    vertical-align: middle;
}
  
.inner {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    /*whatever width you want*/
}

a {
    text-decoration-line: none;
    color:white;
}

